@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway";
}

/* giving a background color to our body */
body {
  background-color: white;
}
a {
  font-size: 1.1rem;
  text-align: left;
  width: 100%;
  padding: 0.9em 0.9em;
  color: white;
  margin: 0;
}
:root {
  --mainColor: #10162f;
  --mainColorLight: #000;
  --secondaryColor: #fff0e5;
  --textColor: #eee;
}

/* Styling our header in which our nav bar is sitted inside */
header {
  height: 130px;

  padding: 0;
  background-color: white;
  color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}

.take-for-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  gap: 2.5em;
  margin-top: 0.7em;
  background-color: white;
  color: #000000;
  padding: 0 2em;
}

/* h3-for-navbar is the styles for the Passcoder words just beside the logo */
.h3-for-navbar {
  margin-left: 0.2em;
  font-weight: bolder;
}

/* our nav link contents */

nav h6 {
  margin: 0 2rem;
  font-size: 1em;
  color: #000000;
  text-decoration: none;
  justify-content: center;
  display: flex;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: #000;
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

/* these sections are for our nav bar sign up buttons on display none and block */
.div-navbar-signup-button {
  display: none;
}
.navbar-signup-button-close {
  display: block;
  width: 10em;
  height: 3em;
  background-color: #000;
  color: #ffffff;
  border: none;
  border-radius: 0.43em;
  transition: 2s;
}
.navbar-signup-button-close:hover {
  display: block;
  width: 10em;
  height: 3em;
  border: 0.13 solid #000;
  background-color: orangered;
  color: #ffffff;
  border-radius: 05em;
  transition: 1s;
}
.navbar-signup-button {
  display: none;
}

.nav-three-icons-show {
  visibility: hidden;
}

.image-wigs {
  width: 300px;
}

.product-grid {
  display: grid;
  gap: 1em;
  padding: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255);
  padding: 40px;
  text-align: left;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.address {
  font-size: 18px;
  margin-bottom: 10px;
}

.timing {
  font-size: 14px;
  margin-bottom: 10px;
}
.bottomtab {
  height: 79px;
  background-color: white;
  color: gray;
  width: 100%;
  padding: 0 12px;
}

.bottomtab-link {
  color: gray;
  text-decoration: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.bottomtab-link.active {
  color: #fc2c9c;
}

@media (min-width: 1450px) {
  .bouncy-hairs {
    padding-bottom: 0.7em;
  }
}

@media (max-width: 568px) {
  .product-grid {
    padding: 1em;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }
}

.product-item {
  background-color: #fff;
}

.product-item img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1054px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    color: #000;
  }

  .header-header {
    height: 80px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .take-for-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 2.5em;
    margin-top: 01em;
    background-color: white;
    color: #000000;
    padding: 0 2em;
  }
  .nav-three-icons::-webkit-scrollbar {
    width: 0.5em;
  }
  .nav-three-icons::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  .nav-three-icons {
    visibility: hidden;
  }
  .div-navbar-signup-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
  }
  .navbar-signup-button {
    display: flex;
    justify-content: center;
    opacity: 1;
    width: 100%;
    height: 3em;
    border-radius: 0.43em;
    border: none;
    color: white;
    transition: 1s;
    align-items: center;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fc2c9c;
    transition: 1s;
    transform: translateY(-100vh);
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 65%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fc2c9c;
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    color: #ffffff;
  }

  .nav-three-icons-show {
    visibility: visible;
  }
  nav h6 {
    font-size: 1.1rem;
    text-align: left;
    width: 100%;
    padding: 0.9em 0.9em;
    color: white;
    margin: 0;
  }
  .nav-three-icons-show-div {
    margin-top: 7em;
  }
  .image-wigs {
    width: 240px;
  }
  .image {
    height: 640px;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255);
    padding: 20px;
    text-align: left;
    width: 90%;
  }
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .address {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
